section(class="doctors")
  div(class="wrapper doctors-wrapper")
    div(class="doctors-catalog")
      div(class="doctors-catalog-top")
        h3(class="doctors-catalog-title") Лікарні закладу
        a(href="") Всі лікарі
      div(class="doctors-catalog-slider")
        div(class="doctors-catalog-item")
          div(class="doctors-catalog-item__wrapper")
            div(class="doctors-catalog-item-top")
              div(class="doctors-catalog-item-top-info")
                ul
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") star
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 4,9
                      p(class="top-info-group__text") Рейтинг
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") chat
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 123
                      p(class="top-info-group__text") Відвідувача
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                     i(class="material-icons") calendar_today
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 12 Років
                      p(class="top-info-group__text") Досвід роботи
              div(class="doctors-catalog-item-top-img")
                div(class="doctors-catalog-item-top-img__img")
                  img(src="", alt="")
                  span(class="doctors-catalog-item-top-img__online")
                  button(class="doctors-catalog-item-top-img__favorite")
                    i(class="material-icons") favorite_border
                p Доступний
            div(class="doctors-catalog-item-contactInfo")
              p(class="doctors-catalog-item-contactInfo-persone") Шараєвська Вікторія Володимирівна
              p(class="doctors-catalog-item-contactInfo-persone__type") Інфекціонист, Лікар-нарколог дільничий, Лікар-інфекціоніст дитячий, Лікар-хірург дитячий
              div(class="doctors-catalog-item-contactInfo-persone__location")
                i(class="material-icons") place
                div(class="doctors-catalog-item-contactInfo-persone__location-streat")
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__bold") м. Луцьк, пр. Соборності 89
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__active") Луцька міська клінічна лікарня
            div(class="doctor-services")
              h5(class="doctor-servives-titl") Послуги та ціни:
              ul
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Консультація
                  p(class="doctor-servicesAndPrices__price") - від 100 грн
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Сеанс терапії
                  p(class="doctor-servicesAndPrices__price") - від 300 грн
                  
        div(class="doctors-catalog-item")
          div(class="doctors-catalog-item__wrapper")
            div(class="doctors-catalog-item-top")
              div(class="doctors-catalog-item-top-info")
                ul
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") star
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 4,9
                      p(class="top-info-group__text") Рейтинг
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") chat
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 123
                      p(class="top-info-group__text") Відвідувача
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                     i(class="material-icons") calendar_today
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 99
                      p(class="top-info-group__text") Бронювань
              div(class="doctors-catalog-item-top-img")
                div(class="doctors-catalog-item-top-img__img")
                  img(src="", alt="")
                  span(class="doctors-catalog-item-top-img__online")
                  button(class="doctors-catalog-item-top-img__favorite")
                    i(class="material-icons") favorite_border
                p Доступний
            div(class="doctors-catalog-item-contactInfo")
              p(class="doctors-catalog-item-contactInfo-persone") Філатова Ірина Миколаївна
              p(class="doctors-catalog-item-contactInfo-persone__type") Інфекціонист, Лікар-нарколог дільничий, Лікар-інфекціоніст дитячий, Лікар-хірург дитячий
              div(class="doctors-catalog-item-contactInfo-persone__location")
                i(class="material-icons") place
                div(class="doctors-catalog-item-contactInfo-persone__location-streat")
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__bold") м. Луцьк, пр. Соборності 89
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__active") Луцька міська клінічна лікарня
            div(class="doctor-services")
              h5(class="doctor-servives-titl") Послуги та ціни:
              ul
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Консультація
                  p(class="doctor-servicesAndPrices__price") - від 100 грн
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Сеанс терапії
                  p(class="doctor-servicesAndPrices__price") - від 300 грн
        
        div(class="doctors-catalog-item")
          div(class="doctors-catalog-item__wrapper")
            div(class="doctors-catalog-item-top")
              div(class="doctors-catalog-item-top-info")
                ul
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") star
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 4,9
                      p(class="top-info-group__text") Рейтинг
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") chat
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 123
                      p(class="top-info-group__text") Відвідувача
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                     i(class="material-icons") calendar_today
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 1
                      p(class="top-info-group__text") Бронювань
              div(class="doctors-catalog-item-top-img")
                div(class="doctors-catalog-item-top-img__img")
                  img(src="", alt="")
                  span(class="doctors-catalog-item-top-img__online")
                  button(class="doctors-catalog-item-top-img__favorite")
                    i(class="material-icons") favorite_border
                p Доступний
            div(class="doctors-catalog-item-contactInfo")
              p(class="doctors-catalog-item-contactInfo-persone") Москаленко Дмитро Миколайович
              p(class="doctors-catalog-item-contactInfo-persone__type") Інфекціонист, Лікар-нарколог дільничий, Лікар-інфекціоніст дитячий, Лікар-хірург дитячий
              div(class="doctors-catalog-item-contactInfo-persone__location")
                i(class="material-icons") place
                div(class="doctors-catalog-item-contactInfo-persone__location-streat")
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__bold") м. Луцьк, пр. Соборності 89
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__active") Луцька міська клінічна лікарня
            div(class="doctor-services")
              h5(class="doctor-servives-titl") Послуги та ціни:
              ul
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Консультація
                  p(class="doctor-servicesAndPrices__price") - від 100 грн
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Сеанс терапії
                  p(class="doctor-servicesAndPrices__price") - від 300 грн

        div(class="doctors-catalog-item")
          div(class="doctors-catalog-item__wrapper")
            div(class="doctors-catalog-item-top")
              div(class="doctors-catalog-item-top-info")
                ul
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") star
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 4,9
                      p(class="top-info-group__text") Рейтинг
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                      i(class="material-icons") chat
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 123
                      p(class="top-info-group__text") Відвідувача
                  li(class="doctors-catalog-item-top-info-group")
                    span(class="doctors-catalog-item-top-info-group__icon")
                     i(class="material-icons") calendar_today
                    div(class="doctors-catalog-item-top-info-group__text")
                      p(class="top-info-group__bold") 24
                      p(class="top-info-group__text") Бронювань
              div(class="doctors-catalog-item-top-img")
                div(class="doctors-catalog-item-top-img__img")
                  img(src="", alt="")
                  span(class="doctors-catalog-item-top-img__online")
                  button(class="doctors-catalog-item-top-img__favorite")
                    i(class="material-icons") favorite_border
                p Доступний
            div(class="doctors-catalog-item-contactInfo")
              p(class="doctors-catalog-item-contactInfo-persone") Лозовий Юрій Володимирович
              p(class="doctors-catalog-item-contactInfo-persone__type") Інфекціонист, Лікар-нарколог дільничий, Лікар-інфекціоніст дитячий, Лікар-хірург дитячий
              div(class="doctors-catalog-item-contactInfo-persone__location")
                i(class="material-icons") place
                div(class="doctors-catalog-item-contactInfo-persone__location-streat")
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__bold") м. Луцьк, пр. Соборності 89
                  p(class="doctors-catalog-item-contactInfo-persone__location-streat__active") Луцька міська клінічна лікарня
            div(class="doctor-services")
              h5(class="doctor-servives-titl") Послуги та ціни:
              ul
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Консультація
                  p(class="doctor-servicesAndPrices__price") - від 100 грн
                li(class="doctor-servicesAndPrices")
                  p(class="doctor-servicesAndPrices__service") Сеанс терапії
                  p(class="doctor-servicesAndPrices__price") - від 300 грн