footer(class="footer")
  div(class="wrapper footer-wrapper")
    div(class="footer-top")
      div(class="footer-top-box")
        h4(class="footer-top-titl") Компанія
        div(class="footer-top-nav")
          a(href="") Про нас
          a(href="") Новини
          a(href="") Довідковий центр

      div(class="footer-top-box")
        h4(class="footer-top-titl") Контакти
        a(class="footer-top-mail" href="mailto:moehealthmapsapi@gmail.com") moehealthmapsapi@gmail.com
        ul(class="footer-top-links")
          a(class="footer-top-link" href="")
            li 
              i(class="fab fa-facebook-f")
          a(class="footer-top-link" href="")
            li 
              i(class="fab fa-instagram")
          a(class="footer-top-link" href="")
            li 
              i(class="fab fa-telegram-plane")
      div(class="footer-top-box")
        h4(class="footer-top-titl") Підписатися на розсилку
        div(class="search footer-search")
          input(class="search-line footer-search-line" type="email" maxlength="25" placeholder="Знайти фахівця")
          div(class="searchBtn")
            input(class="searchBtn__btn" type="button")
            i(class="material-icons") arrow_forward
            
      div(class="footer-top-box last-footer-top-box")
        button(class="lang-vis footer-lang-vis")
          div(class="lang-vis-top footer-lang-vis-top")
            p(class="lang-vis-text") Українська
            i(class="fas fa-chevron-down")
          div(class="lang-list footer-lang-list")
            ul(class="lang-list-items")
              i(class="fas fa-caret-up")
              li(class="lang-list-item footer-lang-list-item")
                img(src="../../img/icon/ukraine-flag-icon-64.png", alt="" width="27" height="16")                  
                p Українська
              li(class="lang-list-item footer-lang-list-item")
                img(src="../../img/icon/russia-flag-icon-64.png", alt="" width="27" height="16")
                p Русский
              li(class="lang-list-item footer-lang-list-item")
                img(src="../../img/icon/united-kingdom.png", alt="" width="27" height="16")
                p English
        div(class="footer-appStore")
          a(href="")
            img(src="../img/icon/apple-app-store-icon-e1485370451143.png", alt="" width="120px" height="40px")
          a(href="")
             img(src="../img/icon/google-play-badge.png", alt="" width="120px" height="40px")
    div(class="footer-bottom")
      div(class="footer-bottom-left")
        i(class="fas fa-heartbeat footer-bottom-heart")
        p 2019 MOE Health. Medical Online Information System
      div(class="footer-bottom-right")
        a(href="") Захист даних
        a(href="") Політика приватності
        a(href="") Правила коистування