
header(class="header")
  div(class="wrapper header-wrapper")
    div(class="header-img")
      img(class="header-img__img" src="", alt="") 
    div(class="header-name")
      div(class="header-name-img")
        img(class="header-name-img__logo" src="", alt="")
        div(class="header-name-img__favorite")
          i(class="material-icons favorite") favorite_border
      div(class="header-name-left")
        div(class="header-name-text")
          h2(class="header-name-text") Медичний, оздоровчий центр «Благомед»
          p(class="header-name-text header-name-text__text") Медичний центр
        div(class="header-nav")
          div(class="header-nav-reit")
            ul
              li(class="header-nav-reit-item")
                p 5.0
                i(class="material-icons") star
              li(class="header-nav-reit-item")
                p 953 Відгуків
              li(class="header-nav-reit-item")
                i(class="material-icons person") person_outline
                p 120 Лікарів
              li(class="header-nav-reit-item")
                i(class="material-icons") assignment
                p 340 Послуг
              li(class="header-nav-reit-item")
                i(class="material-icons") business
                p 50 Філіалів
          div(class="header-nav-btns")
            button(class="header-nav-btn header-nav-btn__search")
              i(class="material-icons") search
            button(id="header-btn-aboutUs" class="header-nav-btn")
              p Про клініку
              div(class="header-nav-btn-info")
                span(type="button" class="header-info-arrowDown")
                    i(class="material-icons header-info-arrowDown__icon") keyboard_arrow_down
                div(class="info-text")
                  h3 Адреса філіалів:
                  div(class="info-text__text")
                    p пр. Відродження, 13, Луцьк, Волинська область, Україна, 43000
                    p пр. Волі, 13, Луцьк, Волинська область, Україна, 43000
                    p пр. Волі, 13, Луцьк, Волинська область, Україна, 43000
                div(class="info-link")
                  a(class="info-link__link" href="") Показати всі філіали
                div(class="info-contact")
                  h3 Контакти:
                  a(href="tel:+380999999999") +38 (099) 999-99-99
                  a(href="tel:+380332770809") +38 (0332) 77-08-09
                div(class="work-schedule")
                  div(class="work-schedule__titel")
                    h3 Графік тоботи:
                    p Зараз працює
                  div(class="work-schedule__schedule")
                    ul
                      li(class="work-schedule__day")
                        h4 понеділок
                        p 9:00-20:00
                      li(class="work-schedule__day")
                        h4 вівторок
                        p 9:00-20:00
                      li(class="work-schedule__day")
                        h4 середа
                        p 9:00-20:00
                      li(class="work-schedule__day")
                        h4 четверг
                        p 9:00-20:00
                      li(class="work-schedule__day")
                        h4 п'ятниця
                        p 9:00-20:00
                      li(class="work-schedule__day")
                        h4 субота
                        p 9:00-20:00
            button(class="header-nav-btn")
              p Подивитись фото
            button(class="header-nav-btn header-nav-btn__map")
              i(class="material-icons") map
              