div(class="hotline")
  div(class="hotline-block")
    img(class="hotline-img" src="", alt="УТУ МАВ БУТИ СТЕТОСКОП ТАКОГО ЯК ХОЧУ НЕМАЭ(")
    h5(class="hotline-block-info") Ваш онлайн-органайзер здоров'я для всієї сім'ї завжди на зв'язку. 
    a(class="hotline-block-btn" href="")
      p Почати безкоштовно