<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title Test

  body
    include head.pug
    include header.pug
    include specialty.pug
    include doctors.pug
    include servicesAndPrices
    include news
    include hotline
    block content
    include footer.pug

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
    script(src='js/main.js')