section(class="news")
  div(class="wrapper news-wrapper")
      h3(class="news-catalog-title") Спеціальності
      div(class="news-catalog-items")

        div(class="news-catalog-item")
          div(class="news-catalog-item-img")
            img(src="", alt="")
          div(class="news-catalog-item-info")
            div(class="news-catalog-item-top")
              a(href="")
                p(id="news-catalog-item__date" class="news-catalog-item__date") 30 СІЧНЯ 2019, 14:23 
              a(href="")
                p(id="news-catalog-item__category" class="news-catalog-item__category") Суспільство
            div(class="news-catalog-item-info-text")
              h5(class="news-catalog-item-info-text__titl") Кольки у дітей: причини і як запобігти виникненню?
              p(class="news-catalog-item-info-text__text") Іноді здорові малюки починають раптово плакати без особливої на те причини, супроводжується плач витягуванням або згинанням ніг, стисненням ручок в кулачки, появою «гримаси болю» і почервонінням особи.
        
        div(class="news-catalog-item")
          div(class="news-catalog-item-img")
            img(src="", alt="")
          div(class="news-catalog-item-info")
            div(class="news-catalog-item-top")
              a(href="")
                p(id="news-catalog-item__date" class="news-catalog-item__date") 30 СІЧНЯ 2019, 14:23 
              a(href="")
                p(id="news-catalog-item__category" class="news-catalog-item__category") Суспільство
            div(class="news-catalog-item-info-text")
              h5(class="news-catalog-item-info-text__titl") Запрошуємо батьків, лікарів та журналістів на тренінг «Агентів змін з вакцинації»
              p(class="news-catalog-item-info-text__text") 22-23 квітня в Києві відбудеться тренінг "Агентів змін" для лікарів, батьків та представників ЗМІ на тему вакцинації. Головна мета заходу - підготовка активістів, які будуть проводити інформаційно

        div(class="news-catalog-item")
          div(class="news-catalog-item-img")
            img(src="", alt="")
          div(class="news-catalog-item-info")
            div(class="news-catalog-item-top")
              a(href="")
                p(id="news-catalog-item__date" class="news-catalog-item__date") 30 СІЧНЯ 2019, 14:23 
              a(href="")  
                p(id="news-catalog-item__category" class="news-catalog-item__category") Суспільство
            div(class="news-catalog-item-info-text")
              h5(class="news-catalog-item-info-text__titl") Швидкість загоєння після хірургічних втручань збільшилася на 50%!
              p(class="news-catalog-item-info-text__text") Клініки «Парнас Дент» і «Парнас Центр» раді представити інноваційні методики, які спрямовані на збільшення швидкості загоєння після хірургічних втручань на 50%!
            
        div(class="news-catalog-item")
          div(class="news-catalog-item-img")
            img(src="", alt="")
          div(class="news-catalog-item-info")
            div(class="news-catalog-item-top")
              a(href="")
                p(id="news-catalog-item__date" class="news-catalog-item__date") 30 СІЧНЯ 2019, 14:23 
              a(href="")
                p(id="news-catalog-item__category" class="news-catalog-item__category") Суспільство
            div(class="news-catalog-item-info-text")
              h5(class="news-catalog-item-info-text__titl") Інтерв'ю Андрія Харкова - одного з кращих пластичних хірургів м.Києва
              p(class="news-catalog-item-info-text__text") Що важливо для щастя жінки і як пластичний хірург може допомогти досягти цього стану щастя? Про це в інтерв'ю розповів засновник клініки Medical Club, доктор медичних наук, хірург вищої категорії,
            
            