section(class="servicesAndPrices")
  div(class="wrapper servicesAndPrices-wrapper")
      h3(class="servicesAndPrices-catalog-title") Спеціальності
      div(class="servicesAndPrices-catalog-slider")
      
        div(class="servicesAndPrices-catalog-item")
          img(src="", alt="")
          h5(class="servicesAndPrices-catalog-item__titl") Повне офтальмологічне обстеження з консультацією лікаря для дітей
          div(class="servicesAndPrices-catalog-item__wrapper")
            div(class="servicesAndPrices-catalog-item__services")
              ul
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Цена:
                    p(class="servicesAndPrices-catalog-item-text__bold") 320 грн
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Тривалість
                    p(class="servicesAndPrices-catalog-item-text__bold") 1 год 45 хв
            div(class="servicesAndPrices-catalog-item__Btn")
              a(href="") Записатися

        div(class="servicesAndPrices-catalog-item")
          img(src="", alt="")
          h5(class="servicesAndPrices-catalog-item__titl") Консультація з частковим обстеженням (з призначенням лікування)
          div(class="servicesAndPrices-catalog-item__wrapper")
            div(class="servicesAndPrices-catalog-item__services")
              ul
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Цена:
                    p(class="servicesAndPrices-catalog-item-text__bold") 320 грн
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Тривалість
                    p(class="servicesAndPrices-catalog-item-text__bold") 1 год 45 хв
            div(class="servicesAndPrices-catalog-item__Btn")
              a(href="") Записатися
              
        div(class="servicesAndPrices-catalog-item")
          img(src="", alt="")
          h5(class="servicesAndPrices-catalog-item__titl") Повне офтальмологічне обстеження з консультацією лікаря для пенсіонерів
          div(class="servicesAndPrices-catalog-item__wrapper")
            div(class="servicesAndPrices-catalog-item__services")
              ul
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Цена:
                    p(class="servicesAndPrices-catalog-item-text__bold") 320 грн
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Тривалість
                    p(class="servicesAndPrices-catalog-item-text__bold") 1 год 45 хв
            div(class="servicesAndPrices-catalog-item__Btn")
              a(href="") Записатися

        div(class="servicesAndPrices-catalog-item")
          img(src="", alt="")
          h5(class="servicesAndPrices-catalog-item__titl") Діагностика сердця та сосудів
          div(class="servicesAndPrices-catalog-item__wrapper")
            div(class="servicesAndPrices-catalog-item__services")
              ul
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Цена:
                    p(class="servicesAndPrices-catalog-item-text__bold") 320 грн
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Тривалість
                    p(class="servicesAndPrices-catalog-item-text__bold") 1 год 45 хв
            div(class="servicesAndPrices-catalog-item__Btn")
              a(href="") Записатися

        div(class="servicesAndPrices-catalog-item")
          img(src="", alt="")
          h5(class="servicesAndPrices-catalog-item__titl") Біопсія Ексцизійна глибока (видалення всієї освіти (невриноми, лімфовузли) глибоких утворень
          div(class="servicesAndPrices-catalog-item__wrapper")
            div(class="servicesAndPrices-catalog-item__services")
              ul
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Цена:
                    p(class="servicesAndPrices-catalog-item-text__bold") 320 грн
                li(class="servicesAndPrices-catalog-item-text")
                    p(class="servicesAndPrices-catalog-item-text__text") Тривалість
                    p(class="servicesAndPrices-catalog-item-text__bold") 1 год 45 хв
            div(class="servicesAndPrices-catalog-item__Btn")
              a(href="") Записатися