section(class="specialty")
  div(class="wrapper specialty-wrapper")
    div(class="specialty-catalog")
      h3(class="specialty-catalog-title") Спеціальності
      div(class="specialty-catalog-slider")
        div(class="cpecialty-catalog-item")
          div(class="cpecialty-catalog-item-img")
            img(class="cpecialty-catalog__img" src="", alt="")
          div(class="cpecialty-catalog-content")
            h4 Терапевт
            p 14 Лікарів
            p 48 Послуг
          button(class="cpecialty-catalog-content__btn")
            i(class="material-icons") keyboard_arrow_right
        div(class="cpecialty-catalog-item")
          div(class="cpecialty-catalog-item-img")
            img(class="cpecialty-catalog__img" src="", alt="")
          div(class="cpecialty-catalog-content")
            h4 Гінеколог
            p 14 Лікарів
            p 48 Послуг
          button(class="cpecialty-catalog-content__btn")
            i(class="material-icons") keyboard_arrow_right
        div(class="cpecialty-catalog-item")
          div(class="cpecialty-catalog-item-img")
            img(class="cpecialty-catalog__img" src="", alt="")
          div(class="cpecialty-catalog-content")
            h4 Кардіохірург
            p 14 Лікарів
            p 48 Послуг
          button(class="cpecialty-catalog-content__btn")
            i(class="material-icons") keyboard_arrow_right
        div(class="cpecialty-catalog-item")
          div(class="cpecialty-catalog-item-img")
            img(class="cpecialty-catalog__img" src="", alt="")
          div(class="cpecialty-catalog-content")
            h4 Офтальмолог
            p 14 Лікарів
            p 48 Послуг
          button(class="cpecialty-catalog-content__btn")
            i(class="material-icons") keyboard_arrow_right
        div(class="cpecialty-catalog-item")
          div(class="cpecialty-catalog-item-img")
            img(class="cpecialty-catalog__img" src="", alt="")
          div(class="cpecialty-catalog-content")
            h4 Травматолог
            p 14 Лікарів
            p 48 Послуг
          button(class="cpecialty-catalog-content__btn")
            i(class="material-icons") keyboard_arrow_right
        div(class="cpecialty-catalog-item")
          div(class="cpecialty-catalog-item-img")
            img(class="cpecialty-catalog__img" src="", alt="")
          div(class="cpecialty-catalog-content")
            h4 Психолог
            p 14 Лікарів
            p 48 Послуг
          button(class="cpecialty-catalog-content__btn")
            i(class="material-icons") keyboard_arrow_right
        
        